div{
    border:1px solid pink;
    margin:10px;
}
span{
    vertical-align: top;
}
#myid{
    color:pink;
    font-variant: small-caps;
    line-height:30px;
}
.myclass{
    background-color: cornsilk;
    text-indent:10px;
}
[title='lala']{
    color:purple;
}
a:link{
    color:purple;
}
a:visited{
    color:yellow;
}
a:hover{
    color:pink;
}
a:active{
    color:green;
}
.child{
    float:left;
}

