<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue指令</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
<div id="vue" @click="parentClick">
    {{message}}
    <div  v-text="text" >hahha</div>
    <div v-html="html" v-if="ifShow"></div>
    <div :style="style" v-else="ifShow">ifshownot</div>
    {{number}}
    <button @click.stop="click">click</button>
    <img :alt="alt">
    <ul>
        <li v-for="item in list">{{item}}</li>
    </ul>
    <input v-model="value"/>
    <p>{{value}}</p>

</div>
</body>
<script>
    var vm=new Vue({
        el:"#vue",
        data:{
            message:"vue",
            text:"I am danhuang",
            html:"<span>haha</span>",
            show:false,
            ifShow:false,
            number:0,
            value:"haha",
            alt:'hah',
            style:{
                color:"red"
            },
            list:[
                1,2,3,4
            ]
        },
        methods:{
            click:function(){
                this.number++
                console.log("button click")
            },
            parentClick:function(){
                console.log("parent click")
            },
            change(e){
                console.log(e)
                this.value=e.target.value

            }
        },
        watch:{
            value(value){
                console.log(value)
            }
        }


    })
</script>
</html>